@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
	header {
		height: 100px;
	}
	
	.corpo {
		max-width: 700px;
	}
}

@media screen and (min-width: 992px) {
	header {
		height: 300px;
	}
	
	.cabecalho {
		font-size: 3em;
	}
	
	#menu {
		font-size: 2em;
	}
	
	.corpo {
		max-width: 800px;
	}
}